<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:replace="/fragments/head :: head"></head>

<body>

<nav th:replace="/fragments/nav :: nav"></nav>

<div class="alert">
  <div th:if="${success}!=null" class="alert alert-success">
    <div class="card-body">
      <p class="card-text" th:text="${success}"></p>
    </div>
  </div>

  <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
    <div class="card-body">
      <p class="card-text " th:text="${error}" align="center"></p>
    </div>
  </div>
</div>

<div class="container-student-course" th:if="${session.userSession != null}" sec.authorize="hasAnyRole('ADMIN')">

  <div class="title">
    <h1>AGREGAR O REMOVER CURSOS</h1>
    <h1 th:text="${student.id}"></h1>
  </div>

  <div class="table">
    <table class="table table-dark">

      <thead>
      <tr>
        <th scope="col">Nombre del Curso</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>

      <tbody th:each="course : ${course}">
      <tr>

        <td th:text="${course.name}" th:value="${course.id}"></td>

        <td>
          <i th:if="${course.deleted}" class="fa fa-circle" style="color: red;"></i>
          <i th:unless="${course.deleted}" class="fa fa-circle" style="color: green;"></i>
        </td>

        <td>
          <div>
            <form id="form1" th:action="@{/student/add-course/__${student.id}__/course/__${course.id}__}" method="POST">
              <div hidden="hidden" th:value="${student.id}"></div>
              <button type="submit" class="btn btn-success btn-sm" title="Agregar">Agregar</button>
            </form>


            <form id="form2" th:action="@{/student/remove-course/__${student.id}__/course/__${course.id}__}"
                  method="POST" class="mbr-form form-with-styler mx-auto">
              <div hidden="hidden" th:value="${student.id}"></div>
              <button type="submit" class="btn btn-danger btn-sm" title="Remover">Remover</button>
            </form>

            <!--<a href="javascript:;" onclick="document.getElementById('form1').submit()" class="btn btn-success btn-sm"
               title="Agregar">Agregar</a>
            <a href="javascript:;" onclick="document.getElementById('form2').submit()" class="btn btn-danger btn-sm"
               title="Remover">Remover</a>-->

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="button-back-to-home">
    <a type="button" class="btn btn-outline-primary my-2 btn-sm" th:href="@{/student/search-student}">Volver Atrás</a>
    <a type="button" class="btn btn-outline-warning my-2 btn-sm" th:href="@{/student/dashboard}">Volver al Inicio</a>
  </div>

</div>

</body>
</html>