<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:replace="/fragments/head :: head"></head>

<body>

<nav th:replace="/fragments/nav :: nav"></nav>

<div class="alert">
  <div th:if="${success}!=null" class="alert alert-success">
    <div class="card-body">
      <p class="card-text" th:text="${success}"></p>
    </div>
  </div>

  <div  th:if="${error}!=null" class="card text-white bg-danger mb-3">
    <div class="card-body">
      <p class="card-text " th:text="${error}" align="center"></p>
    </div>
  </div>
</div>

<div class="container-search-student">

  <div class="title">
    <h1>BUSCAR ALUMNOS</h1>
  </div>

  <div class="container-search-student">
    <form th:action="@{/student/search-student}" method="GET">
      <div>
        <label>Ingrese el nombre o apellido del Alumno para realizar la búsqueda</label>
        <input type="text" class="form-control" name="value" placeholder="Ingrese el nombre o apellido del Alumno"> <br>
        <button type="submit" class="btn btn-outline-success my-2 btn-sm" title="Buscar Alumno">Buscar Alumno</button>
        <br> <br>
      </div>
    </form>
  </div>

  <div class="title-table">
    <h1>LISTA DE ALUMNOS</h1>
  </div>

  <div class="table">
    <table class="table table-dark">

      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Historia</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>

      <tbody th:each="student : ${studentList}">
          <tr>
            <td th:text="${student.id}"></td>
            <td th:text="${student.surname} + ' ' + ${student.name}"></td>
            <td th:text="${student.dateOfBirth}"></td>
            <td th:text="${student.story}"></td>
            <td>
              <i th:if="${student.deleted}" class="fa fa-circle" style="color: red;"></i>
              <i th:unless="${student.deleted}"  class="fa fa-circle" style="color: green;"></i></td>

            <td>
              <a th:href="@{/student/detail-student/__${student.id}__}" class="btn btn-light btn-sm" title="Detalles">Detalles</a>
              <a th:href="@{/student/modify-student/__${student.id}__}" class="btn btn-warning btn-sm" title="Modificar">Modificar</a>
              <a th:href="@{/student/course/__${student.id}__}" class="btn btn-success btn-sm" title="Cursos">Cursos</a>
              <a th:if="${student.deleted}" th:href="@{/student/enable-student/__${student.id}__}" class="btn btn-success btn-sm" title="Alta">Alta</a>
              <a th:unless="${student.deleted}" th:href="@{/student/disable-student/__${student.id}__}" class="btn btn-danger btn-sm" title="Baja">Baja</a>
              <a th:href="@{/student/delete-student/__${student.id}__}" class="btn btn-danger btn-sm" title="Eliminar">Eliminar</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="button-back-to-home">
    <a type="button" class="btn btn-outline-primary my-2 btn-sm" th:href="@{/student/dashboard}">Volver Atrás</a>
    <a type="button" class="btn btn-outline-warning my-2 btn-sm" th:href="@{/admin/dashboard}">Volver al Inicio</a>
  </div>

</div>

</body>
</html>