<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<nav th:replace="/fragments/nav :: nav"></nav>


<div class="container-save-course" th:if="${session.userSession != null}" sec.authorize="hasAnyRole('ADMIN')">

    <div class="title">
        <h1>REGISTRO DE CURSOS</h1>
    </div>

    <div class="register-course">
        <form th:action="@{/course/save-course}" method="POST">

            <div class="form-group">
                <label>Nombre del Curso</label>
                <input type="text" class="form-control" name="name" th:value="${name}" placeholder="Nombre del Curso" required>
            </div>

            <div class="form-group">
                <label>Turno del Curso</label>
                <input type="text" class="form-control" name="turn" th:value="${turn}" placeholder="Turno del Curso" required>
            </div>

            <div class="form-group">
                <label>Horario del Curso</label>
                <input type="text" class="form-control" name="schedule" th:value="${schedule}" placeholder="Horario del Curso" required>
            </div>

            <div class="button-course">
                <button type="submit" class="btn btn-outline-success my-2 btn-sm" title="Registrar Curso">Registrar Curso</button>
            </div>

            <div class="button-back-to-home">
                <a type="button" class="btn btn-outline-primary my-2 btn-sm" th:href="@{/course/dashboard}">Volver atrás</a>
                <a type="button" class="btn btn-outline-warning my-2 btn-sm" th:href="@{/admin/dashboard}">Volver al Inicio</a>
            </div>

        </form>
    </div>

</div>

</body>
</html>