<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:replace="/fragments/head :: head"></head>

<body>

<nav th:replace="/fragments/nav :: nav"></nav>

<div class="container-index-teacher">

    <div class="title">
        <h1>DASHBOARD DE PROFESORES</h1>
    </div>

    <div class="button-teacher">
        <a type="button" class="btn btn-outline-primary my-2 btn-sm" th:href="@{/teacher/save-teacher}">Nuevo Profesor</a>
        <a type="button" class="btn btn-outline-success my-2 btn-sm" th:href="@{/teacher/search-teacher}">Buscar Profesor</a>
    </div>

    <div class="button-back-to-home">
        <a type="button" class="btn btn-outline-warning my-2 btn-sm" th:href="@{/admin/dashboard}">Volver al Inicio</a>
    </div>

</div>

</body>
</html>