<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="alert">
  <div th:if="${success}!=null" class="alert alert-success">
    <div class="card-body">
      <p class="card-text" th:text="${success}"></p>
    </div>
  </div>

  <div  th:if="${error}!=null" class="card text-white bg-danger mb-3">
    <div class="card-body">
      <p class="card-text " th:text="${error}" align="center"></p>
    </div>
  </div>
</div>

<div class="container-search-teacher">

  <div class="title">
    <h1>BUSCAR PROFESORES</h1>
  </div>

  <div class="search">
    <form th:action="@{/teacher/search-teacher}" method="GET">
      <div>
        <label>Ingrese el nombre o apellido del Profesor para realizar la búsqueda</label>
        <input type="text" class="form-control" name="value" placeholder="Ingrese el nombre o apellido del Profesor"> <br>
        <button type="submit" class="btn btn-outline-warning my-2 btn-sm" title="Buscar Profesor">Buscar Profesor</button>
        <br> <br>
      </div>
    </form>
  </div>

  <div class="title-table">
    <h1>LISTA DE PROFESORES</h1>
  </div>

  <div class="table">
    <table class="table table-dark">

      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>

      <tbody th:each="teacher : ${teacherList}">
          <tr>
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.surname} + ' ' + ${teacher.name}"></td>
            <td>
              <i th:if="${teacher.deleted}" class="fa fa-circle" style="color: red;"></i>
              <i th:unless="${teacher.deleted}"  class="fa fa-circle" style="color: green;"></i></td>

            <td>
              <a th:href="@{/teacher/detail-teacher/__${teacher.id}__}" class="btn btn-light btn-sm" title="Detalles">Detalles</a>
              <a th:href="@{/teacher/modify-teacher/__${teacher.id}__}" class="btn btn-warning btn-sm" title="Modificar">Modificar</a>
              <a th:href="@{/teacher/course/__${teacher.id}__}" class="btn btn-success btn-sm" title="Cursos">Cursos</a>
              <a th:if="${teacher.deleted}" th:href="@{/teacher/enable-teacher/__${teacher.id}__}" class="btn btn-success btn-sm" title="Alta">Alta</a>
              <a th:unless="${teacher.deleted}" th:href="@{/teacher/disable-teacher/__${teacher.id}__}" class="btn btn-danger btn-sm" title="Baja">Baja</a>
              <a th:href="@{/teacher/delete-teacher/__${teacher.id}__}" class="btn btn-danger btn-sm" title="Eliminar">Eliminar</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="button-teacher">
    <a type="button" class="btn btn-outline-primary my-2 btn-sm" th:href="@{/teacher/dashboard}">Volver atrás</a>
    <a type="button" class="btn btn-outline-success my-2 btn-sm" th:href="@{/admin/dashboard}">Volver al Inicio</a>
  </div>

</div>

</body>
</html>