<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:replace="/fragments/head :: head"></head>

<body>

<nav th:replace="/fragments/nav :: nav"></nav>

<div class="container-modify-teacher" th:if="${session.userSession != null}" sec.authorize="hasAnyRole('ADMIN')">

  <div class="title">
    <h1>MODIFICAR PROFESORES</h1>
    <br>
    <h4>INGRESE LOS SIGUIENTES DATOS PARA MODIFICAR UN PROFESOR</h4>
  </div>

  <div class="modify-teacher">
    <form th:action="@{/teacher/modify-teacher/__${teacher.id}__}" method="POST">

      <div class="form-group">
        <input hidden='' type="text" class="form-control" name="id" th:value="${teacher.id}">
      </div>

      <div class="form-group">
        <label>Nombre del Profesor</label>
        <input type="text" class="form-control" name="name" th:value="${teacher.name}" placeholder="Nombre del Profesor" required>
      </div>

      <div class="form-group">
        <label>Apellido del Profesor</label>
        <input type="text" class="form-control" name="surname" th:value="${teacher.surname}" placeholder="Apellido del Profesor" required>
      </div>

      <div class="button-teacher">
        <button type="submit" class="btn btn-outline-success my-2 btn-sm" title="Modificar Profesor">Modificar Profesor</button>
      </div>

      <div class="button-back-to-home">
        <a type="button" class="btn btn-outline-primary my-2 btn-sm" th:href="@{/teacher/search-teacher}">Volver Atrás</a>
        <a type="button" class="btn btn-outline-warning my-2 btn-sm" th:href="@{/admin/dashboard}">Volver al Inicio</a>
      </div>

    </form>
  </div>

</div>

</body>
</html>